.projects
  width 90%
  margin 0 auto
  #projects-header
    text-align center
    .projects-h1
      font-size 4em
      text-transform uppercase
      margin-bottom 15px
    .projects-desc
      font-style italic
	.project-preview
	  width 300px
	  display inline-block
	  text-align center