@import 'var.styl'
@import 'mixins.styl'

.Readings-container
  width 80%
  margin 0 auto 25px auto
	#Readings-header
	  text-align center
	  .Readings-h1
	    font-size 4em
	    text-transform uppercase
	    margin-bottom 15px
	  .Readings-desc
	    font-style italic
	    margin 0 0 35px 0
	.Reading-section
	  border-top 2px solid $gold
	  padding 25px 0
	  display table
	  width 100%
	  height 300px
	  .Reading-category
      display table-cell
      vertical-align middle
      width 25%
      .category
        margin 0
        font-size 4em
        text-transform capitalize
    .Readings
      display table-cell
      vertical-align middle
      width 75%
      .Reading-container
        width 225px
        display inline-block
        text-align center
        cursor pointer
        vertical-align middle
        margin 0 0 20px 0
        transition(all .5s ease)  
        .Reading-a
          display inline-block
          float left
          transition(all .5s ease)
          text-decoration none
          color #000
          .Reading-name
            margin-top 0px
            text-align left
            font-style italic
            font-size 14px
            color #000
            transition(all .5s ease)
          .Reading-preview
            display inline-block
            text-align center
            cursor pointer
            vertical-align middle
            width 200px
            height 150px
            transition(all .5s ease)
      .Reading-container:hover
        .Reading-a:hover
          text-decoration none
          color #000
          .Reading-name
            font-weight bold
          .Reading-preview
            transform scale(1.15)
        .Reading-a:focus
          text-decoration none
          color #000

@media screen and (max-width 750px)
  .Readings-container
    width 95%
    margin 60px auto 25px auto
    height 100vh
    #Readings-header
     .Readings-h1
       font-size 3em
    .Reading-section
      display block
      .Reading-category
        display block
        width 100%
        margin 0 0 35px 0
        .category
          font-size 3em
          text-align center
      .Readings
        display block
        width 100%
        .Reading-container
          width 8em
          height 10em
          margin 0 15px 20px 0
          .Reading-a
            width 100%
            float none
            height 100%
            .Reading-preview
              width 100%
              height 70%
        .Reading-container:hover
          width 8em
          height 10em
          margin 0 15px 20px 0
          .Reading-a
            width 100%
            float none
            height 100%
            .Reading-preview
              width 100%
              height 70%