.timeline-desktop-container
  display block
  #timeline
    width 70%
    margin 0 auto
    padding 15px 0 0 0
    .timeline-year-container
      width 12.5%
      height 50px
      float left
      display inline-block
      padding 0 10px
      box-sizing border-box
      color $gold
      .years
        text-align center
        margin 0
        color rgba(0, 0, 0, .45)
        transition(all .5s ease)
        cursor pointer
      .years:hover
        color #000
      .square-container
        width 30px
        margin 0 auto
  	    .font-a
  	      font-size .5em
  	      float left
  	      margin 0 2px 0 0
@media screen and (max-width 750px)
  .timeline-desktop-container
    float right
    display inline-block
    width 15%
    position fixed
    right 0
    height 100%
    margin 55px 0 0 0
    #timeline
      width 100%
      height 100%
      margin 0
      background-color #000
      .timeline-year-container
        display block
        float none
        width 100%
        margin 12.5% 0
        .years
          color #fff
        .years:hover
          color #fff