<template name="Timeline">
	{{#if Template.subscriptionsReady}}
		<section id="timeline">

				{{#with projects}}
					<div id="2010" class="timeline-year-container">
						<p class="years">2010</p>
						<div class="square-container">
							{{#each number ten}}
							  <i class="fa fa-square font-a" aria-hidden="true"></i>
							{{/each}}
							<div class="clearfix"></div>
						</div>
					</div>
				{{/with}}
				{{#with projects}}
					<div id="2011" class="timeline-year-container">
						<p class="years">2011</p>
						<div class="square-container">
							{{#each number eleven}}
							  <i class="fa fa-square font-a" aria-hidden="true"></i>
							{{/each}}
							<div class="clearfix"></div>
						</div>
					</div>
				{{/with}}
				{{#with projects}}
					<div id="2012" class="timeline-year-container">
						<p class="years">2012</p>
						<div class="square-container">
							{{#each number twelve}}
							  <i class="fa fa-square font-a" aria-hidden="true"></i>
							{{/each}}
							<div class="clearfix"></div>
						</div>
					</div>
				{{/with}}
				{{#with projects}}
					<div id="2013" class="timeline-year-container">
						<p class="years">2013</p>
						<div class="square-container">
							{{#each number thirteen}}
							  <i class="fa fa-square font-a" aria-hidden="true"></i>
							{{/each}}
							<div class="clearfix"></div>
						</div>
					</div>
				{{/with}}
				{{#with projects}}
					<div id="2014" class="timeline-year-container">
						<p class="years">2014</p>
						<div class="square-container">
							{{#each number fourteen}}
							  <i class="fa fa-square font-a" aria-hidden="true"></i>
							{{/each}}
							<div class="clearfix"></div>
						</div>
					</div>
				{{/with}}
				{{#with projects}}
					<div id="2015" class="timeline-year-container">
						<p class="years">2015</p>
						<div class="square-container">
							{{#each number fifteen}}
							  <i class="fa fa-square font-a" aria-hidden="true"></i>
							{{/each}}
							<div class="clearfix"></div>
						</div>
					</div>
				{{/with}}
				{{#with projects}}
					<div id="2016" class="timeline-year-container">
						<p class="years">2016</p>
						<div class="square-container">
							{{#each number sixteen}}
							  <i class="fa fa-square font-a" aria-hidden="true"></i>
							{{/each}}
							<div class="clearfix"></div>
						</div>
					</div>
				{{/with}}
				{{#with projects}}
					<div id="2017" class="timeline-year-container">
						<p class="years">2017</p>
						<div class="square-container">
							{{#each number seventeen}}
							  <i class="fa fa-square font-a" aria-hidden="true"></i>
							{{/each}}
							<div class="clearfix"></div>
						</div>
					</div>
				{{/with}}


			<!-- {{projectYears}} -->
			<div class="clearfix"></div>
		</section>
	{{/if}}
</template>